
.contact-head {
  @extend .flex-center-all;
    
    flex-flow: column;
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  .contact-social {
    display: flex;
    flex-flow: column;
    text-align: center;
    color: white;

    ul{
      padding: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .social-button {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease 0s;
        color: rgb(255, 255, 255);
        padding: 14px;
        margin: 20px 0 20px 0;
        width: fit-content;
        text-align: center;
        color: white;
      
        transition: all 0.3s ease 0s;
      
      
        @extend .glassmorphism-background;

        

        &:hover {
          background: #adadad40;
        }
    
        i {
          padding-right: 10px;
        }
    
        }
      
    }
  }