.contact-head {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  .contact-social {
    display: flex;
    flex-flow: column;
    text-align: center;
    color: white;

    ul{
      padding: 0;

      li a {
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s ease 0s;
        color: rgb(255, 255, 255);
      }

      li button {
        padding: 14px;
        margin: 20px auto 20px auto;
        width: fit-content;
        text-align: center;
      
        transition: all 0.3s ease 0s;
      
      
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        left: 0;
        right: 0;

        button:hover {
          background: #adadad40;
        }
    
        i {
          padding-right: 10px;
        }
    
        }
      
    }
  }