//Media Queries

/* TABLET */
@media (min-width: 765px) {
  nav {
    width: 80%;
  }

  .head-section {
    grid-template-columns: repeat(2 1fr);
    grid-template-areas: "header-text header-img";

    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    place-items: center start;
  }

  #header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 0;
    max-width: 800px;

    p{
      max-width: 700px;
    }
  }

  #header-img {
    display: flex;

    img {
      width: auto;
      height: 150px;
      display: flex;
    }
  }

  .header-buttons {
    flex-direction: row;
  }

  .buyNow-button {
    width: 180px;
  }

  .us-button {
    width: 180px;
    margin-left: 20px;
  }

    .video-section {
    margin-bottom: 60px;

    .animation-video-wrapper {
      flex-direction: row-reverse;

      .video-title {
        justify-content: flex-start;
        font-size: 1.2em;
      }

      .animation-video {
        width: 70%;
        height: fit-content;
        border-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        justify-content: flex-start;
      }
    }
  }

  .form-info textarea {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
  }

  .featured-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #featured-section--headh3 {
    margin-top: 0;
  }

  .product-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .keyboard-img {
    height: 65px;
  }

  .keyboard-img--page {
    height: 180px;
  }

  .item-title{
    width: 90%;
  }

  .nosotros-wrapper {
    height: 95vh;
    
    .nosotros-head {
     
      #nosotros-p2 {
        max-width: 480px;
     
        .p2-link {    
          i {
            display: inline-block;
          }
        }
      }
    }
  }
  .nosotros-icons {
    flex-direction: row;
  }
  .nosotros-head {
    div p {
      max-width: 800px;
    }
  }
}

/* LAPTOP */
@media (min-width: 1024px) {
  .nav--links {
    flex-direction: row;
    gap: 5%;
    max-height: 100%;
  }

  .nav-desk {
    display: flex;
    margin-top: 20px;
  }

  .nav-item-desk a {
    color: white;
    transition: all ease 0.3s;

    &:hover {
      color: #8d8d8d;
    }
  }

  .label-toggle {
    display: none;
  }

  .featured-section--header {
    max-width: none;
  }

  .carousel-caption {
    display: flex;
  }

  .video-section {
    margin-left: 3%;
    margin-right: 3%;

  }

  .footer-columns {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    gap: 50px;
    align-items: center;
    grid-template-areas: "footer-img footer-nav redes productos";
  }

  .form-info textarea {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
  }

  .keyboard-img {
    height: 65px;
  }

  .item-head {
    display: grid;
    grid-template-areas: "item-img item-title";
    width: 100%;

    margin: auto;
    place-items: center;
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    border-radius: 20px;
  }

  .product-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact-head {
    margin-top: 40px;
  }

  .nosotros-head {
    padding: 150px;
  }
}

/* DESKTOP FULL SIZE */
@media (min-width: 1440px) {
  #header-img img {
    height: 200px;
  }

  .featured-images div {
    padding-left: 25px;
    padding-right: 25px;
  }

  .product-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .keyboard-img--page {
    height: 300px;
  }

  .item-title {
    font-size: 20px;
  }

  .item-head {
    padding: 50px;
  }
}
