
.nosotros-wrapper {
    margin: 20px auto;
    display: grid;
    gap: 20px;
    padding-top: 80px;
  
      animation-name: fade-in-up;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
  }
  
  .nosotros-head {
    @extend .flex-center-all;
  
    flex-flow: column;
    text-align: center;
    color: white;
    position: relative;
    padding: 70px;
    font-size: 1.3em;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    div h1 {  
      position: relative;

      p {
        position: relative;
        max-width: 500px;
        padding-top: 20px;
        font-weight: 500;
      }
    }

    #nosotros-p2 {
      font-weight: 700;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-image: url(../resources/custom-keyboard.png);
      background-size: cover;
      background-position: top center;
      opacity: 0.07;
    }
  }


$social-colors: (
    twitter: #74ccff,
    instagram: #ff38cd,
);

@each $social, $color in $social-colors {
    .boton-redes-#{$social}{
      @include padding-sides(30px, 30px);
      @include padding-top-bottom(5px, 5px);
        position: relative;
        margin: 20px;
        border-radius: 10px;
        color: white; 
        border: none;
        background-color: $color;

        a:hover{
          color: black;
          transition: 0.3s all ease;
        }
        
    }
}