//VARIABLES


$bg-dark: #000000;

$bg-light: #ffff;

$text-white: #ffff;

$magenta: #ab66ff;

$baby-blue: #74b6f7;

$bg-grey: rgb(170, 170, 170);

$buy-green: #79c279;

@mixin padding-sides ($padding-left, $padding-right) {
    padding-left: $padding-left;
    padding-right: $padding-right;
}

@mixin padding-top-bottom ($padding-top, $padding-bottom) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}
.glassmorphism-background{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.flex-center-all{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  