* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
}


body {
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(171, 102, 255, 1) 0%,
    rgba(116, 182, 247, 1) 90%
  );
  color: white;
}

.bg-dark{
  background-color: #000000 !important;
}

/* NAV BAR */

nav {
  width: 100% !important;
  margin: auto;
  padding-bottom: 30px !important;
  position: relative !important;
}


.nav-desk{
  display: none;
}

.marquee {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  bottom: 0;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 8s linear infinite;
  animation-play-state: running;
}

.marquee span {
  padding: 0 20px;
  font-weight: 700;
  font-size: 13px;
  font-style: italic;
  white-space: nowrap;
}

.marquee:hover .marquee__inner {
  animation-play-state: running;
}

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}

.navbar-brand {
  color: white !important;
}

.offcanvas{
  background-color: #000000 !important;
}

.offcanvas-title{
  color: rgb(255, 255, 255) !important;
}

.btn-close{
  background-color: rgb(170, 170, 170) !important;
  border-radius: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  color: white;
  width: fit-content;
  cursor: pointer;
  height: 2.5em;
  transition: all 0.2s ease 0s;
}

.logo img:hover {
  transform: skew(-0.06turn, 18deg);
}


/* CONTENIDO PRINCIPAL */

.main-wrapper {
  width: 90%;
  max-width: 90%;
  margin: 60px auto;
  display: grid;
  gap: 20px;


  animation-name: fade-in-up;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 1s;

}

@keyframes fade-in-up {
  0%{
    opacity: 0%;
    transform: translateY(30px);
  }
  
  100%{
    opacity: 100%;
  }
}


/* .index--main-wrapper {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2 1fr);
  grid-template-areas:
    "header"
    "featured"
    "client"
    "contact";
} */

.head-section {
  grid-area: header;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-text"
    "header-img";

  padding-top: 20px;
  text-align: center;
  place-items: center;
}

#header-text {
  grid-area: header-text;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;
  max-width: 250px;
}

#header-img {
  grid-area: header-img;
}

#header-img img {
  width: auto;
  height: 100px;
}

.links {
  font-weight: 700;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.links:hover {
  color: rgb(255, 255, 255);
}

#featured-section {
  grid-area: featured;
}

#featured-section--headh3 {
  font-size: 1.5em;
  text-align: center;
}

.featured-p{
  text-align: center;
}

.featured-images {
  grid-area: featured-imgs;

  display: flex;
  flex-direction: column;
}

.featured-images div {
  text-align: center;
  padding: 20px;
}

.featured-images div img {
  padding: 10px;
  background-color: white;
  
  width: 100% !important;
  height: 100% !important;
  margin: auto;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

.carousel{
  z-index: 0 !important;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.459);
  width: fit-content;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: auto;
}

.animation-video-wrapper{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.animation-video-wrapper div h3{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
  font-size: 1.4em;
  margin-bottom: 30px;
}

.animation-video{
  display: flex;
  width: 90%;
  height: fit-content;
  border-radius: 20px;
  justify-content: center;
}

.contact-section {
  grid-area: contact;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  left: 0;
  right: 0;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: white;

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 30px;
}

.form-info {
  padding: 15px;
  font-weight: 300;
  text-align: center;
}

.form-info label {
  display: flex;
  justify-content: center;
  font-weight: 500;
  padding: 5px;
}

.form-info textarea {
  width: 100px;
  max-width: 100px;
  min-width: 190px;
  max-height: 500px;
  min-height: 200px;
}

.form-input {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

textarea,
input {
  background: rgba(255, 255, 255, 0.089);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

textarea:focus,
input:focus {
  outline: none;
}

.send-button-container {
  display: flex;
  justify-content: center;
}

.send-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background: #800ae580;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.send-button:hover {
  background: #fff;
  color: #7605da;
}

.footer-section {
  display: flex;
  gap: 10px;
  padding: 60px;
  background-color: #000000;
  width: 100%;
  color: white;
  justify-content: center;
  text-align: center ;
}

.footer-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  align-items: center;
  grid-template-areas:
    "footer-img"
    "footer-nav"
    "redes"
    "productos";
}

.footer-img img {
  width: auto;
  height: 50px;
}

.footer-links {
  grid-area: footer-nav;
  padding-left: 0px !important;
}

.footer-social {
  grid-area: redes;
}

.footer-products {
  grid-area: productos;
  padding-left: 0px !important;
}

.footer-social--logos img {
  width: auto;
  height: 20px;
  
}

.footer-nav label,
.footer-social label,
.footer-products label {
  padding: 20px;
  font-size: 12px;
  font-weight: 800;
}



.footer-products ul,
.footer-social ul,
.footer-links ul {
  padding-left: 0px !important;
}

.footer-products li,
.footer-social li,
.footer-links li {
  font-size: 12px;
  justify-content: center !important;
  margin: 0 !important;
  padding: 5px;
  padding-top: 20px;
}

.footer-products ul{
  text-align: center;
}

.footer-products ul a{
  text-decoration: none !important;
  color: #000000;
  text-align: center;
}


.footer-social li a,
.footer-links li a {
  color: white;
  transition: all 0.2s ease;
}

.footer-products ul a:hover,
.footer-social li a:hover,
.footer-links li a:hover {
  opacity: 50%;
}


.breadcrumb-wrapper{
  display: none;
}


.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;

  text-align: center;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
}



.products-imgs {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 30px;
  padding-bottom: 50px;
}

.products-imgs div h3{
  padding-top: 20px;
}

.products-imgs div h3,
.products-imgs div p {
  color: rgb(0, 0, 0);
  font-size: 13px !important;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.keyboard-img {
  width: fit-content;
  height: 58px;
  transition: all 0.3s ease 0s;
}

.product-head {
  text-align: center;
  display: flex;
  flex-flow: column;
  padding: 50px;
  align-items: center;
  color: white;
}

.product-head p {
  padding-top: 50px;
  max-width: 400px;
}

.products-imgs a {
  color: black;
  transition: all 0.3s ease 0s;
}

.products-imgs a:hover {
  color: rgb(59, 59, 59);
}

.product-wrapper{
  padding-top: 70px;
  padding-bottom: 70px;
}


.item-head {
  display: grid;
  grid-template-areas:
    "item-img"
    "item-title";
  width: 100%;

  margin: auto;
  place-items: center;
  gap: 60px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.item-title {
  grid-area: item-title;
  order: 2;

  color: #000000;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  gap: 10px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #9b9b9b,
               -20px -20px 60px #ffffff;
}

.item-title p {
  max-width: 700px;
  text-align: center;
}

.item-img {
  grid-area: item-img;

  display: flex;
  justify-items: center;
  align-items: center;
}

.keyboard-img--page {
  border-radius: 10px;
  width: fit-content;
  height: 86px;
  transition: all 0.3s ease 0s;
}

.contact-head {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: white;
}

.contact-social {
  display: flex;
  flex-flow: column;
  text-align: center;
  color: white;
}

.contact-social ul{
  padding: 0 !important;
}

.contact-social ul li button {
  padding: 14px;
  margin: 20px auto 20px auto;
  width: fit-content;
  text-align: center;

  transition: all 0.3s ease 0s;


  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  left: 0;
  right: 0;  
}

.contact-social ul li button i {
  padding-right: 10px;
}

.contact-social ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
  color: rgb(255, 255, 255);
}

.contact-social ul li button:hover {
  background: #adadad40;
}


.nosotros-wrapper {
  margin: 20px auto;
  display: grid;
  gap: 20px;
  padding-top: 80px;

    animation-name: fade-in-up;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.nosotros-head {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  color: white;
  position: relative;
  padding: 70px;
  font-size: 1.3em;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nosotros-head::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(resources/custom-keyboard.png);
  background-size: cover;
  background-position: top center;
  opacity: 0.07;
}

.nosotros-head div h1 {
  position: relative;
}

.nosotros-head div p {
  position: relative;
  max-width: 500px;
  padding-top: 20px;
  font-weight: 500;
}

#nosotros-p2 {
  font-weight: 700;
}

/* TABLET */
@media (min-width: 765px) {

  nav{
    width: 80%;
  }
  
  .nav--links {
    flex-direction: row;
    gap: 5%;
  }

  .head-section {
    grid-template-columns: repeat(2 1fr);
    grid-template-areas: "header-text header-img";


    margin: auto;
    padding-top: 90px;
    padding-bottom: 150px;
    text-align: left;
    place-items: center start;
  }

  #header-text {
    display: flex;
    flex-direction: column;

    padding-bottom: 0;
    max-width: 450px;
  }

  #header-img img {
    width: auto;
    height: 150px;
  }

  .form-info textarea {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
  }

  .featured-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .featured-images div img {
    width: auto;
    height: 80px;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
  }

  .product-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .products-imgs div h3,
  .products-imgs div p {
    font-size: 16px !important;
  }

  .keyboard-img {
    height: 65px;
  }

  .products-imgs {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  .keyboard-img--page {
    height: 180px;
  }

  .nosotros-wrapper {
    width: 90%;
  }

  .nosotros-head div p {
    max-width: 800px;
  }
}

/* LAPTOP */
@media (min-width: 1024px) {

  .nav--links {
    flex-direction: row;
    gap: 5%;
    max-height: 100%;
  }

  .nav-desk{
    display: flex;
    margin-top: 20px;
  }

  .navbar-toggler{
    display: none;
  }

  .nav-item-desk a{
    color: white !important;
    transition: all ease 0.3s;
  }

  .nav-item-desk a:hover{
    color: #8d8d8d !important;
  }
  


  .nav--links li {
    background-color: rgb(0, 0, 0);
}

  .nav--links li a {
  font-size: 15px;
}

  .head-section {
    gap: 400px;
}


  #header-text {
    max-width: 650px;
  }


  .label-toggle {
    display: none;
  }
  

  .featured-images {
    flex-direction: row;
  }

  .index--main-wrapper {
    grid-template-areas:
      "header header"
      "featured featured"
      "client contact";
  }

  .featured-section--header {
    max-width: none;
  }

  .featured-images div {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .video-section{
    margin-bottom: 60px;
  }

  .animation-video-wrapper{
    flex-direction: row-reverse;
  }
  
  .animation-video{
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    justify-content: flex-start;
  }


  .footer-columns {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    gap: 50px;
    align-items: center;
    grid-template-areas: "footer-img footer-nav redes productos";
  }

  .form-info textarea {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
  }

  .keyboard-img {
    height: 65px;
  }

  .item-head {
    display: grid;
    grid-template-areas: "item-img item-title";
    width: 100%;

    margin: auto;
    place-items: center;
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    border-radius: 20px;
  }

  .breadcrumb-wrapper{
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 20px;
    width: 100%;
    border-radius: 10px;
    margin-right: auto;
  }

  .breadcrumb-container{
  padding: 0px !important;
  }  

.breadcrumb li,
.breadcrumb li{
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: 500;

}

  .product-wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .products-imgs {
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
  }

  .products-imgs div h3,
  .products-imgs div p {
    font-size: 19px !important;
  }

  .keyboard-img--page {
    height: 180px;
  }

  .nosotros-section{
    padding: 20px;
  }
  .nosotros-head {
    padding: 200px;
  }
}

/* DESKTOP FULL SIZE */
@media (min-width: 1440px) {
  #header-img img {
    height: 200px;
  }

  .head-section{
    width: 90%;
  }


  .featured-images div {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .featured-images {
    gap: 100px;
  }

  
  .keyboard-img {
    height: 100px;
  }

  .product-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .keyboard-img--page {
    height: 300px;
  }

  .item-title{
    font-size: 20px;
  }


  .item-head {
    padding: 50px;
  }
}
